* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #FFE7C1, #FFD1DC);
    padding: 2rem;
  }

  .msg-header {
    color: #700004;
    text-align: center;
    padding: 30px 20px;
    border-radius: 16px;
    margin-bottom: 2rem;
  }
  .msg-header h1 {
    font-size: 4rem;
    margin-bottom: 10px;
  }
    .msg-header p {
        font-size: 1.5rem;
        color: #700004;
    }

  .cards-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .container {
    background: white;
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    max-width: 1000px;
    width: 100%;
  }
  
  .headline {
    font-size: 2.5rem;
    color: #700004;
    margin-bottom: 10px;
  }
  .container h1 {
    font-size: 2.5rem;
    color: #700004;
    margin-bottom: 30px;
  }
  .pretext {
    font-size: 1.7rem;
    color: #666;
    margin-bottom: 20px;
  }

  .subtext {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
  }

  .text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
  }

  .lasttext {
    font-size: 1rem;
    font-weight: bold;
    color: #700004;
    margin-top: 5rem;
  }
  
  button {
    background: #700004;
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: solid 2px #700004;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background: white;
    color: #700004;
    border: solid 2px #700004;
    transition: all 0.5s ease;
  }
  
  .main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
.main-content {
    background: white;
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    max-width: 1000px;
    width: 100%;
    margin-bottom: 2.5rem;
}
.main-content h1 {
    font-size: 2.5rem;
    color: #700004;
    margin-bottom: 10px;
}
.main-content p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

.cards-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }
  
  .container {
    background: white;
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    max-width: 1000px;
    width: 100%;
  }